form.font1 {

	font-family: Verdana,
		Geneva,
		Tahoma,
		sans-serif
}

.dud {
	width: 100%;
}

section,
main {

	margin: 0;
	padding: 0;
}

main {
	display: flex;
	margin: 30px 0;
}

.main-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
}

.main-right {
	width: 0%;
}
